@model List<ProjetoEstagio.Models.EmpresaModel>
@{
    ViewData["Title"] = "Index Empresa";
}
<!--<h3>Lista de Supervisores</h3>
<div class="form-group">
<label asp-for="SupervisorId" class="control-label"></label>
<select asp-for="SupervisorId" asp-items="ViewBag.SupervisorList" class="form-control">
<option value="">-- Selecione o Supervisor --</option>
</select>
<span asp-validation-for="SupervisorId" class="text-danger"></span>
</div>
-->
<h3>Lista de Empresas</h3>

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Sucesso!</strong> @TempData["MensagemSucesso"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
    </div>
   
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Erro!</strong> @TempData["MensagemErro"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        
    </div>
    
}



<table id="empresaTable" class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>CNPJ</th>
            <th>Email</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (EmpresaModel empresa in Model)
            {
                <tr>
                    <td>@empresa.Id</td>
                    <td>@empresa.Nome</td>
                    <td>@empresa.CNPJ</td>
                    <td>@empresa.Email</td>
                    <td>
                        <a asp-action="Editar" asp-route-id="@empresa.Id" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="DeletarConfirmar" asp-route-id="@empresa.Id" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
